table, tr, td{
    border: solid 1px black;
    border-collapse: collapse;
   
 }
 
 .largura{
      background-color: rgb(247, 115, 7);
      color: white;
 }
 
 #largColuna{
     width: 120px;
     background-color: rgb(247, 115, 7);
 }
 
 body{     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
#Barra{
    background-color: black;
}

#cidade{
    background-color: blue;
}